  <p style="margin-top: 5%" class="show">
    <strong>Device name:</strong>
   <%= @device.name %>
  </p>
  <p>
    <strong>Description:</strong>
   <%= @device.description %>
  </p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Add New Device', new_device_path %> |
<%= link_to 'Back', devices_path %>
