<h1 class="title">Calculator</h1>
<% if @channels == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  <%= form_for(calculate_path) do |f| %>
    <div style="margin-bottom: 20px">
      <h4>Must have channels</h4>
        <% @channels.each do |channel| %>  
          <p>
          <td>
            <% if @must_have != nil && @must_have.include?(channel.id) %> 
              <%= check_box_tag 'must_have[]', channel.id, true, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% else %>
              <%= check_box_tag 'must_have[]', channel.id, false, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% end %>
              <%= channel.name %> 
            </td>
          </p>
        <% end %>  
    </div>
    <div style="margin-bottom: 20px">
      <h4>Would like to have channels</h4>
        <% @channels.each do |channel| %>  
          <p>
            <td>
            <% if @would_have != nil && @would_have.include?(channel.id) %> 
              <%= check_box_tag 'would_have[]', channel.id, true, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% else %>
              <%= check_box_tag 'would_have[]', channel.id, false, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% end %>
              <%= channel.name %> 
            </td>
          </p>
        <% end %>  
    </div>
    <div style="margin-bottom: 20px">
      <h4>OK to have channels</h4>
        <% @channels.each do |channel| %>  
          <p>
            <td>
            <% if @ok_have != nil && @ok_have.include?(channel.id) %> 
              <%= check_box_tag "ok_have[]", channel.id, true, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% else %>
              <%= check_box_tag "ok_have[]", channel.id, false, style: "width: 50px; float: left", class: "checkbox inline"%>
            <% end %>
              <%= channel.name %> 
            </td>
          </p>
        <% end %>  
    </div>
    <h4>Budget</h4>
    <%= text_field_tag :budget, "Enter the budget",type: "number", class: 'form-control'%>
    <h4>DVR</h4>
    <%= check_box_tag :flag_dvr, 'true', checked = false, class: "checkbox inline"%>
    <h4>Only need one package?</h4>
    <%= check_box_tag :flag_one_pack, 'true', checked = false,class: "checkbox inline"%>
  <%= f.submit "Calculate", class: "btn btn-primary"  %>
  <% end %>
</div>
<div>
  <% if @results_overall != nil %>
    <% @results_overall.each do |result| %>
      <h4>Package set</h4>
      <p>
      <%= "Packages:" %><br>
      <% result[:package].each do |package| %>
        <%= "#{package}," %>
      <% end %>
      </p>
      <p>
      <% result[:must_have].each do |channel| %>
        <%= "#{channel}," %>
      <% end %>
      <% result[:would_have].each do |channel| %>
        <%= "#{channel}," %>
      <% end %>
      <% result[:ok_have].each do |channel| %>
        <%= "#{channel}," %>
      <% end %>
      </p>
      <p>
      <%= "Cost: #{result[:expense].round(2)}" %>
      </p>
      <p>
      <% if result[:devices] == 0 %>
        <%= "Some packages may not support your devices" %>
        <br>
      <% end %>
      <% if result[:boxes] == 0 %>
        <%= "Some packages may not support your set top box" %>
        <br>
      <% end %>
      <% if result[:dvr] == 0 %>
        <%= "Packages does not satisfy your DVR perference" %>
        <br>
      <% end %>
      </p>
    <% end %>
  <% end %>
</div>
<% end %>

