
<% provide(:title, 'Sign up') %>
<h1 class="title">Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', obj: @user %>

      <%= f.label :email %>
      <%= f.email_field :email, placeholder: 'Enter email', autofocus: true, class: 'form-control'%>

      <%= f.label :password %>
      <%= f.password_field :password , placeholder: 'Enter password', class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %>

      <%= f.label :admin do %>
      <%= f.check_box :admin, class: "multi-checkbox" %>
        <span>Sign up as admin</span>
      <% end %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p>Already have an account? <%= link_to 'Login', login_path %></p>
  </div>
</div>
