<% provide(:title, 'Edit your profile') %>
<h1 class="title">Edit your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :password %>
      <%= f.password_field :password , placeholder: 'Enter password', class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-control' %>

      <%= f.submit "Change password", class: "btn btn-primary" %>
    <% end %>
    <br>
    <p><%= link_to 'Cancel and return', @user %></p>
  </div>
</div>
