<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div style="margin-top: 5%">
  <h4 style="font-weight: bold">
    Channels already covered by antenna:
    <h5 style="font-weight: normal;">
    <% if !@covered_antenna.nil? %>
      <% @covered_antenna.each do |channel| %>
        <%= "#{channel}," %>
      <% end %>
    <% end %>
    </h5>
  </h4>
  <hr></hr>
  <% if !@results_overall.empty? %>
    <% count=1 %>
    <% @results_overall.each do |result| %>
      <h4 style="font-weight: bold">Package set #<%= count %></h4>
      <p>
      <span style="font-weight: bold">Recommended Packages: </span>
      <% result[:package].each do |package| %>
        <span style="font-weight: bold"><%= link_to "#{package[:name]}, " , package[:link], target: 'new' %></span>
      <% end %>
      </p>
      <p>
      Including:
      </p>
      <li style="line-height: 20px">Must Have Channels: </li>
        <ul>
        <% result[:must_have].each do |channel| %>
          <%= "#{channel}," %>
        <% end %>
      </ul>
      <li style="line-height: 20px">Would Like to Have Channels: </li>
        <ul>      
        <% result[:would_have].each do |channel| %>
          <%= "#{channel}," %>
        <% end %>
        </ul>
      <li style="line-height: 20px">OK to Have Channels: </li>
        <ul> 
        <% result[:ok_have].each do |channel| %>
          <%= "#{channel}," %>
        <% end %>
        </ul>
      </p>
      <p style="font-weight: bold">
      <%= "Cost: #{result[:expense].round(2)}" %>
      </p>
      <p>
      <% if result[:devices] == 0 %>
        <span style="color: red"><%= "Some packages may not support your devices" %></span>
        <br>
      <% end %>
      <% if result[:boxes] == 0 %>
        <span style="color: red"><%= "Some packages may not support your set top box" %></span>
        <br>
      <% end %>
      <% if result[:dvr] == 0 %>
        <span style="color: red"><%= "Packages does not satisfy your DVR perference" %></span>
        <br>
      <% end %>
      </p>
      <hr></hr>
      <% count = count+1 %>
    <% end %>
    <% else %>
      <h3 style="font-weight: bold; margin-bottom: 10%">Sorry, you budget is too low or the channels you selected are invalid. Please calculate again.</h2>
    <% end %>
          <%= link_to 'Go back to calculator', calculator_path %>
</div>
</body>

</html>
