<h1 class="title">Set top boxes</h1>
<div style="margin-bottom: 20px">
  <%= link_to 'New set top box', new_set_top_box_path %>
</div>
<table width=100%>
  <thead>
    <tr class="show-list">
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @set_top_boxes.each do |box| %>
      <tr class="show-list">
        <td width=40%><%= box.name %></td>
        <td width=20%><%= link_to 'Show', box %></td>
        <td width=20%><%= link_to 'Edit', edit_set_top_box_path(box) %></td>
        <td width=20%><%= link_to 'Destroy', box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate %>
