<html>
<head>
  
<style>

</style>

</head>

<body>
<div>
<!--<h1 class="title">Antenna channel list</h1>-->
<% if @channels == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<!--<div style="margin-bottom: 20px">-->
  <%= form_for(update_antenna_path) do |f| %>
  <ul>
  <div class="wrapper">
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Select the Channel <span class="caret"></span></button>
          <ul style= "width: 250px !important; height: 225px; overflow-y: scroll;" class="dropdown-menu" role="listbox">
            <% @channels.each do |channel| %>  
                <% if @user.antennas.find_by(channel_id: channel.id) != nil %>
                  <li><input type="text" id="channel"><label for="channel"><%= check_box_tag "items[]", channel.id, true, style: "width: 50px; float: left"%><%= channel.name %></label></li>
                <% else %>
                  <li><input type="text" id="channel"><label for="channel"><%= check_box_tag "items[]", channel.id, false, style: "width: 50px; float: left"%><%= channel.name %></label></li>
                <% end %>
            <% end %> 
          </ul>
      </div>
  </div>
  </ul>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<!--</div>-->
<% end %>
</div>
</body>

</html>

