<html>
<head>
  
<style>

</style>

</head>

<body>
<div>
<br />
<h1 class="title">Antenna channel list</h1>
<h5>Your Antenna Channels:</h5>  
<p><%= render '/users/form_antenna' %></p>

<% if @channels == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  <%= form_for(update_antenna_path) do |f| %>
  <div class="wrapper">
      <div class="btn-group", style="float: left;">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Select the Channel <span class="caret"></span></button>
          <ul style= "width: 250px !important; height: 225px; overflow-y: scroll;" class="dropdown-menu" role="listbox">
            <% @all_channels.each do |channel| %>  
              <li>
                <%= label_tag do %>
                  <%= check_box_tag "items[]", channel.id, !@user.antennas.find_by(channel_id: channel.id).nil? , {style: "width: 20px"}%>
                  <%= channel.name %>
                <% end %>
              </li>

            <% end %> 
          </ul>
      </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
</div>
</body>

</html>

