<html>
<head>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  li = div.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    txtValue = li[i].textContent || li[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</head>

<body>
<div>
<br />
<h1 class="title">Antenna channel list</h1>
<h5>Your Antenna Channels:</h5>  
<p><%= render '/users/form_antenna' %></p>

<% if @channels == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  <%= form_for(update_antenna_path) do |f| %>
  <div class="wrapper">
      <div class="btn-group", style="float: left;">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Select the Channel <span class="caret"></span></button>
          <ul id="myDropdown" style= "width: 250px !important; height: 225px; overflow-y: scroll;" class="dropdown-menu" role="listbox">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <% @all_channels.each do |channel| %>  
              <li>
                <%= label_tag do %>
                  <%= check_box_tag "items[]", channel.id, !@user.antennas.find_by(channel_id: channel.id).nil? , {style: "width: 20px"}%>
                  <%= channel.name %>
                <% end %>
              </li>

            <% end %> 
          </ul>
      </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
<% end %>
</div>
</body>

</html>

