<h1 class="title">Antenna channel list</h1>
<% if @channels == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  <%= form_for(update_antenna_path) do %>
  <ul>
    <% @channels.each do |channel| %>  
      <li>
        <% if @antennas.include?(channel.id) %>
          <%= check_box_tag "items[]", channel.id, true, style: "width: 50px; float: left"%>
          <%= channel.name %> 
        <% else %>
          <%= check_box_tag "items[]", channel.id, false, style: "width: 50px; float: left"%>
          <%= channel.name %> 
        <% end %>
      
      <!--<%= link_to 'Detail', '#' %>-->
    </li>
    <% end %>  
  </ul>
  <%= button_to "Submit", class: "btn btn-primary"  %>
  <% end %>
  <%= link_to 'Cancel and to back to profile', @user %>
</div>
<% end %>

