<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Cord Cutting Calculator", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-left">
          <% if logged_in? && admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Channels <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Channel list", channels_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Devices <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Device list", devices_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Packages <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Package list", packages_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Set top boxes <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Box list", set_top_boxes_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if admin? %>
                <li><%= link_to "User management", users_path %></li>
              <% end %>
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
