
<html>
<head>
  
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}
function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  li = div.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
    txtValue = li[i].textContent || li[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>

</head>

<body>
<h1 class="title">Set top box list</h1>
<h5>Your Set Top Boxes:</h5>  
<p><%= render '/users/form_box' %></p>

<% if @set_top_boxes == nil %>
  <span>Ops, no channel yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px;">
  <%= form_for(update_own_box_path) do |f| %>
  <div class="wrapper dropdown-area">
      <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"> Select the Set Top Box <span class="caret"></span></button>
          <ul id="myDropdown" style= "width: 250px !important; height: 225px; overflow-y: scroll;" class="dropdown-menu" role="listbox">
            <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()" class="search">
            <% @all_set_top_boxes.each do |box| %>  
              <li class="dropdown-list">
                <%= label_tag do %>
                  <%= check_box_tag "items[]", box.id, @own_boxes.include?(box.id) , {style: "width: 20px"}%>
                  <%= box.name %>
                <% end %>
              </li>

            <% end %> 
          </ul>
      </div>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
  <%= link_to 'Cancel and to back to profile', @user %>
</div>
<% end %>

</body>

</html>



