<h1 class="title">Set top box list</h1>
<% if @set_top_boxes == nil %>
  <span>Ops, no set top box yet, please contact admin.</span>
<% else %>
<div style="margin-bottom: 20px">
  <%= form_for(update_own_box_path) do %>
    <ul>
      <% @set_top_boxes.each do |box| %>  
      <li>
        <% if @own_boxes.include?(box.id) %>
          <%= check_box_tag "items[]", box.id, true, style: "width: 50px; float: left", class: "checkbox inline"%>  
        <% else %>
          <%= check_box_tag "items[]", box.id, false, style: "width: 50px; float: left", class: "checkbox inline"%>  
        <%end%>
         <%= box.name %> 
         <!--<%= link_to 'Detail', '#' %>-->
      </li>
      <% end %>  
    </ul>
    <%= button_to "Submit", class: "btn btn-primary"  %>
  <% end %>
  <%= link_to 'Cancel and to back to profile', @user %>
</div>
<% end %>

